# --- CONFIGURACIÓN DEL ECOSISTEMA DOCKER ---

# Credenciales para el contenedor de PostgreSQL
DOCKER_DB_NAME=gima_bd
DOCKER_DB_USER= # Ejemplo: postgres
DOCKER_DB_PASSWORD=

# Puertos Externos (Lo que verás en tu navegador/DBeaver)
PORT_BACKEND=8000
PORT_FRONTEND=3000
PORT_POSTGRES=5432
PORT_IA=3001